<!-- ============================================ -->
<!--                     CTA                      -->
<!-- ============================================ -->

<section id="cta-51">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">{{ cta_title }}</h2>
            <p class="cs-text">
                {{ cta_text }}
            </p>
            <a href="{{ '/contact/' | locale_url }}" class="cs-button-nodeco-white">
                <span class="cs-hover-underline-white"> {{ cta_button }} </span>
                <img src="../../assets/svgs/horizontal-arrow.svg" alt="arrow" width="30" height="10">
            </a>
        </div>
    </div>
    <!-- Background Image-->
    <picture class="cs-picture">
        <img src="../../assets/images/collections/sentido/sentidoblacknoir.webp" alt="cabinets" width="1920" height="426" loading="lazy" decoding="async">
    </picture>
</section>