<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="{{ '/' | locale_url }}" class="cs-logo" aria-label="back to home">
            {% if lang == 'ar' %}نوبليسا{% else %}noblessa{% endif %}
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul">
                    <!-- Home -->
                    <li class="cs-li">
                        <a href="{{ '/' | locale_url }}" class="cs-li-link">{{ header[lang].home }}</a>
                    </li>
                    
                    <!-- About -->
                    <li class="cs-li">
                        <a href="{{ '/about/' | locale_url }}" class="cs-li-link">{{ header[lang].about }}</a>
                    </li>
                    
                    <!-- Collections (Dropdown) -->
                    {# <li class="cs-li cs-dropdown">
                        <button 
                            type="button"
                            class="cs-li-link"
                            aria-expanded="false"
                            aria-controls="dropdown-collections"
                            aria-haspopup="true"
                            aria-label="Open {{ header[lang].collections }} submenu"
                        >
                            {{ header[lang].collections }}
                            <svg class="cs-drop-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                        </button>
                        <ul class="cs-drop-ul" id="dropdown-collections" role="menu" aria-hidden="true">
                            <li class="cs-drop-li" role="none">
                                <a href="{{ '/' | locale_url }}" class="cs-li-link cs-drop-link" role="menuitem">{{ header[lang].kitchen }}</a>
                            </li>
                            <li class="cs-drop-li" role="none">
                                <a href="{{ '/' | locale_url }}" class="cs-li-link cs-drop-link" role="menuitem">{{ header[lang].living }}</a>
                            </li>
                            <li class="cs-drop-li" role="none">
                                <a href="{{ '/' | locale_url }}" class="cs-li-link cs-drop-link" role="menuitem">{{ header[lang].bath }}</a>
                            </li>
                        </ul>
                    </li> #}
                    
                    <!-- Showrooms -->
                    <li class="cs-li">
                        <a href="{{ '/showrooms/' | locale_url }}" class="cs-li-link">{{ header[lang].showrooms }}</a>
                    </li>
                    
                    <!-- Blog -->
                    {# <li class="cs-li">
                        <a href="{{ '/' | locale_url }}" class="cs-li-link">{{ header[lang].blog }}</a>
                    </li> #}

                    <!-- Events -->
                    {# <li class="cs-li">
                        <a href="{{ '/' | locale_url }}" class="cs-li-link">{{ header[lang].events }}</a>
                    </li> #}
                    
                    <!-- Contact -->
                    <li class="cs-li">
                        <a href="{{ '/contact/' | locale_url }}" class="cs-li-link">{{ header[lang].contact }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>